/* Basic styles */
body {
  font-family: 'Times New Roman';
  font-size: 14px;
  background-image : linear-gradient(0deg, rgba(24, 34, 75, 0.918) 1%, rgba(199, 173, 7, 0.842) 15%, rgb(254, 220, 1) 42%);
  color: rgb(0, 0, 0);
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth;
  scrollbar-width:0px;
  backdrop-filter: brightness(1.6);
  background-attachment: fixed;
}

img {
  max-width: 100%;
  height: auto;
  padding: 0;
  border: 1px solid #ffd000ad;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 0.5em 0;
}

a {
  text-decoration: none;
  color: rgba(240, 248, 255, 0.932);
}

a:hover {
  color: #2c354e;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1em 0;
}

footer {
  color: rgba(209, 209, 209, 0.966);
  text-align: center;
  padding: 1%;
  line-height:36px;
  font-size:15px;
  background: linear-gradient(180deg, #18224b 0%, #141d41 70%);
}

/* Header styles */
.header {
  text-align: center;
  color: aliceblue;
  height: 20rem;
  align-items: center;
  position: absolute;
  padding: 3% 5%;
  transition-duration: 0.5s;
}

#particles-js {
  background: #18224b;
  position: absolute(0,0,0);
  height: 25rem;
  width: 100%;
}

.header img {
  transition-duration: 0.5s;
  border-radius: 50%;
}
.header img :hover{
  transform: scale(1.2);
}

.name h1{
  font-weight: 900;
  font-size: 400%;
}
/* Main content styles */
main {
  margin-top: 0rem;
  padding: 0% 2%;
  display: flex;
  flex-wrap: wrap;
  gap: 0rem;
  min-height: 100vh;
  align-items: center;
}

main div{
  background-color: rgba(236, 240, 1, 0);
  padding: 1%;
  margin-bottom: 2%;
  border-radius: 20px;
  transition-duration: 0.5s;
}
main div:hover{
  background-color: rgba(235, 223, 1, 0.2);
  transform: scale(1.02);
}
main h2 {
  border-bottom: 1px solid #5a37c3; 
}
