/* Basic styles */
body {
  font-family: 'Times New Roman';
  font-size: 14px;
  background: linear-gradient(180deg, rgba(233,213,32,1) 95%, rgba(24,34,75,0.9178046218487395) 100%);
  color: rgb(0, 0, 0);
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth;
  backdrop-filter: brightness(1.6);
}

img {
  max-width: 100%;
  height: auto;
  padding: 0;
  border: 1px solid #e2c336ad;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 0.5em 0;
}

a {
  text-decoration: none;
  color: rgba(240, 248, 255, 0.932);
}

a:hover {
  color: #2c354e;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1em 0;
}

footer {
  color: rgba(209, 209, 209, 0.966);
  text-align: center;
  padding: 1%;
  line-height:36px;
  font-size:15px;
  background: linear-gradient(180deg, #18224b 0%, #141d41 70%);
}

/* Header styles */
.header {
  text-align: center;
  color: aliceblue;
  height: 20rem;
  align-items: center;
  position: absolute;
  padding: 3% 5%;
}

#particles-js {
  background: #18224b;
  position: absolute(0,0,0);
  height: 25rem;
  width: 100%;
}

.header img {
  border-radius: 50%;
}

.name h1{
  font-weight: 900;
  font-size: 400%;
}

/* Main content styles */
main {
  margin-top: 0rem;
  padding: 0% 2%;
  display: flex;
  flex-wrap: wrap;
  gap: 0rem;
  min-height: 100vh;
  align-items: center;
}

main h2 {
  padding: 1% 0;
  border-bottom: 1px solid #5a37c3; 
}
